<html>
  <head></head>
  <body>
    <section class="module" id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title font-alt">~Welcome to The BlazeK1ngdom~</h2>
            <div class="module-subtitle font-serif large-text">
              I don't know where I am, or how I got here. But the walls are sure fun to scribble on! And they even taste like shnozberries!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5">
            <div class="large-text align-center">
              <a class="section-scroll" href="#footer"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>