<html>
  <head></head>
  <body>
    <section class="module" id="alt-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Our features</h2>
            <div class="module-subtitle font-serif">
              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-strategy"></span>
              </div>
              <h3 class="alt-features-title font-alt">Branding</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-tools-2"></span>
              </div>
              <h3 class="alt-features-title font-alt">Development</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-target"></span>
              </div>
              <h3 class="alt-features-title font-alt">Marketing</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-tools"></span>
              </div>
              <h3 class="alt-features-title font-alt">Design</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
          </div>
          <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
            <div class="alt-services-image align-center">
              <img src="assets/titan/images/promo.png" alt="Feature Image">
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-camera"></span>
              </div>
              <h3 class="alt-features-title font-alt">Photography</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-mobile"></span>
              </div>
              <h3 class="alt-features-title font-alt">Mobile</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-linegraph"></span>
              </div>
              <h3 class="alt-features-title font-alt">Music</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
            <div class="alt-features-item">
              <div class="alt-features-icon">
                <span class="icon-basket"></span>
              </div>
              <h3 class="alt-features-title font-alt">Shop</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>