<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='#000000' name='theme-color'/>
    <meta name="keywords" content="{{site.site-keywords}}">
    <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta name="og:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
    <meta name="og:image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
    <meta name="og:image:alt" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta name="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
    <meta name="article:author" content="https://www.facebook.com/{{site.facebook_username}}">
    <meta name="og:site_name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta name="og:type" content="website">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta name="twitter:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:creator" content="@{{site.twitter_username}}">
    <meta name="twitter:image:src" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
    <!-- Search Engine -->
    <meta name="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
    <meta name="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
    <meta name="author" content="{{site.author-name}}"/>
    <meta itemprop="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
    <meta itemprop="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google-analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{site.google-analytics}}');
    </script>
    <title>{{site.title}}</title>
    <!--Favicons-->
    <link rel="shortcut icon" href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/base/images/binary-code.png' | absolute_url }}{% endif %}" type="image/x-icon">
    <!-- STYLESHEETS -->
    <!-- Default -->
    <link href="/assets/titan/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Template specific -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/assets/titan/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/assets/titan/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/titan/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/assets/titan/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/assets/titan/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/titan/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/assets/titan/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/titan/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <script src="/assets/titan/js/plugins.js"></script>
    <script src="/assets/titan/js/main.js"></script>
    <link href="/assets/titan/css/style.css" rel="stylesheet">
    <!-- <link href="/assets/css/style.css" rel="stylesheet"> -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/assets/titan/css/colors/default.css" rel="stylesheet">
  </head>
  <body></body>
</html>