<html>
  <head></head>
  <body>
    <section class="module-small bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
            <div class="callout-text font-alt">
              <h3 class="callout-title">More</h3>
              <p>More.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="callout-btn-box">
              <a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">MOAR</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>