<html>
  <head></head>
  <body>
    <div class="widget">
      <h5 class="widget-title font-alt">Top Posts</h5>
      <ul class="widget-posts">
        <li class="clearfix">
          <div class="widget-posts-image">
            <a href="#"><img src="assets/titan/images/rp-1.jpg" alt="Post Thumbnail"></a>
          </div>
          <div class="widget-posts-body">
            <div class="widget-posts-title">
              <a href="#">1337 Post #1</a>
            </div>
            <div class="widget-posts-meta">
              420 - date
            </div>
          </div></li>
        <li class="clearfix">
          <div class="widget-posts-image">
            <a href="#"><img src="assets/titan/images/rp-2.jpg" alt="Post Thumbnail"></a>
          </div>
          <div class="widget-posts-body">
            <div class="widget-posts-title">
              <a href="#">1337 Post #2</a>
            </div>
            <div class="widget-posts-meta">
              420 - date
            </div>
          </div></li>
      </ul>
    </div>
  </body>
</html>