<html>
  <head></head>
  <body>
    <section class="module bg-dark-60" data-background="assets/titan/images/section-6.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="video-box">
              <div class="video-box-icon">
                <a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a>
              </div>
              <div class="video-title font-alt">Video</div>
              <div class="video-subtitle font-alt">Well would ya just look at that!</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>