<html>
  <head></head>
  <body>
    <div class="col-sm-3">
      <div class="widget">
        <h5 class="widget-title font-alt">Column</h5>
        <ul class="icon-list">
          <li>Maria on <a href="#">Designer Desk Essentials</a></li>
          <li>John on <a href="#">Realistic Business Card Mockup</a></li>
          <li>Andy on <a href="#">Eco bag Mockup</a></li>
          <li>Jack on <a href="#">Bottle Mockup</a></li>
          <li>Mark on <a href="#">Our trip to the Alps</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>