<html>
  <head></head>
  <body>
    <section class="module" id="services">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Get-Lit and List-Shit</h2>
            <div class="module-subtitle font-serif">
              Too lazy to write this Mock-Up
            </div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-lightbulb"></span>
              </div>
              <h3 class="features-title font-alt">Look</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-bike"></span>
              </div>
              <h3 class="features-title font-alt">At</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-tools"></span>
              </div>
              <h3 class="features-title font-alt">This</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-gears"></span>
              </div>
              <h3 class="features-title font-alt">Dope</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-tools-2"></span>
              </div>
              <h3 class="features-title font-alt">Ass</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-genius"></span>
              </div>
              <h3 class="features-title font-alt">List</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-mobile"></span>
              </div>
              <h3 class="features-title font-alt">Blaze</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="features-item">
              <div class="features-icon">
                <span class="icon-lifesaver"></span>
              </div>
              <h3 class="features-title font-alt">Made</h3>
              <p>Cha-Cha Real-Smooth~</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>