<html>
  <head></head>
  <body>
    <nav class="navbar navbar-custom navbar-fixed-top is-fixed-top is-black" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">{{site.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-item has-text-primary {% if page.layout == 'index' %}is-active{% endif %}" href="{% if page.layout == 'index' %}{{sitepage.url}}{{site.baseurl}}/#{% else %}{{sitepage.url}}{{site.baseurl}}/{% endif %}">HOME</a></li>
            <li><a class="navbar-item has-text-primary {% if page.layout == 'highspace' %}is-active{% endif %}" href="{% if page.layout == 'highspace' %}{{sitepage.url}}{{site.baseurl}}/#{% else %}{{sitepage.url}}{{site.baseurl}}/{% endif %}">BLAZE</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle has-text-primary" href="$" data-toggle="dropdown">BLOG STUFF</a>
              <ul class="dropdown-menu">
                <li class="navbar-item has-text-primary">    ~Rearranging for next update~    </li>
                <li><a class="navbar-item has-text-primary {% if page.layout == 'blog' %}is-active{% endif %}" href="{{sitepage.url}}{{site.baseurl}}/blog">BLOG</a></li>
                <li><a class="navbar-item has-text-primary {% if page.layout == 'poetry' %}is-active{% endif %}" href="{{sitepage.url}}{{site.baseurl}}/poetry">POETRY</a></li>
                <li><a class="navbar-item has-text-primary {% if page.layout == 'project' %}is-active{% endif %}" href="{{sitepage.url}}{{site.baseurl}}/projects">PROJECTS</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle has-text-primary" href="#" data-toggle="dropdown">MORE STUFFS</a>
              <ul class="dropdown-menu">
                {% for sitepage in site.html_pages %}
                {% unless sitepage.url == '/' or sitepage.url == '/404'  or sitepage.url == '/blog' or sitepage.url == '/rekt' or sitepage.url == '/projects' or sitepage.url == '/og' or sitepage.url == '/poetry' or sitepage.url == '/poetry/first' %}
                <li><a href="{{sitepage.url | absolute_url}}" class="navbar-item has-text-primary {% if page.url == sitepage.url | absolute_url  %}is-active{% endif %}">{{sitepage.title}}</a></li>
                {% endunless %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
          <script id="cid0020000353387549453" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"blazek1ngdom","arch":"js","styles":{"a":"330099","b":100,"c":"33ff33","d":"cc33cc","e":"330033","g":"33ff33","h":"330033","i":82,"j":"33ff33","k":"cc33cc","l":"cc33cc","m":"330099","n":"FFFFFF","p":"10.08","q":"33ff33","r":100,"usricon":0.99,"pos":"br","cv":1,"cvbg":"330099","cvfg":"33ff33","cvw":68,"cvh":35,"sbc":"cc33cc","surl":0,"cnrs":"0.56"}}</script>

    </nav>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
          /* Add a click event on each of them */
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {
              /* Get the target from the "data-target" attribute */
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
  </body>
</html>