<html>
  <head></head>
  <body>
    <div class="container">
      <nav aria-label="main navigation" class="navbar" role="navigation">
        <div class="navbar-brand"><a class="navbar-item" href="https://bulma.io"> <img height="28" src="https://bulma.io/images/bulma-logo.png" width="112"> </a> <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navbarBasicExample" role="button"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
        </div>
        <div class="navbar-menu" id="navbarBasicExample">
          <div class="navbar-start"><a class="navbar-item"> Home </a> <a class="navbar-item"> Documentation </a>
            <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link"> More </a>
              <div class="navbar-dropdown"><a class="navbar-item"> Jobs </a> <a class="navbar-item"> Contact </a>
                <div class="navbar-submenu" id="submenu-1"><a aria-controls="dropdown-menu" class="navbar-submenu-link" data-target="submenu-1">
                    <div class="navbar-item navbar-link">
                      Submenu 1
                    </div> </a>
                  <div class="navbar-submenu-dropdown" role="menu"><a class="navbar-item">Link 1</a> <a class="navbar-item">Link 2</a>
                    <div class="navbar-submenu" id="submenu-2"><a aria-controls="dropdown-menu" class="navbar-submenu-link" data-target="submenu-2"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>