<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-file-earmark"></i>
      </div>
      <h4>Easy to Install</h4>
      <p>Simply download a CSS file and replace the one in Bootstrap. No messing around with hex values.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-gear-wide"></i>
      </div>
      <h4>Customizable</h4>
      <p>Changes are contained in just two SASS files, enabling further customization and ensuring forward compatibility.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-wrench"></i>
      </div>
      <h4>Tuned for 5.3.1</h4>
      <p>Themes are built for the latest version of Bootstrap. <a href="4/">Version 4</a>, <a href="3/">version 3</a>, <a href="2/">version 2</a>, and <a target="_blank" rel="noopener" href="https://github.com/thomaspark/bootswatch/releases">other releases</a> are also available to download.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-github"></i>
      </div>
      <h4>Open Source</h4>
      <p>Bootstrap themes are released under the MIT License and maintained by the community on <a target="_blank" rel="noopener" href="https://github.com/thomaspark/bootswatch">GitHub</a>.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-plug-fill"></i>
      </div>
      <h4>Get Plugged In</h4>
      <p>An <a href="./help/#api">API</a> is available for integrating with your platform. In use by <a href="https://nodebb.org/" target="_blank" rel="noopener">NodeBB</a> and many more.</p>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="icon">
        <i class="bi bi-send"></i>
      </div>
      <h4>Stay Updated</h4>
      <p>Be notified about updates by following via <a href="https://blog.bootswatch.com/rss/">RSS feed</a>, <a href="https://twitter.com/bootswatch">Twitter</a>, or <a href="https://blog.bootswatch.com/">blog</a>.</p>
    </div>
  </div>
</div>