<html>
  <head>
    <script src="/assets/bs5/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Just a stoner blogging about coding and other random stuffs.">
    <meta name="author" content="Trevor || BlazeK1ng420">
    <title>🔥BlazeK1ngdom🔥</title>
    <link rel="stylesheet" href="assets/bs5/css/blazestrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
    <link href="assets/bs5/css/navbar-static.css" rel="stylesheet">
    <link href="assets/bs5/css/style.css" rel="stylesheet">
    <script src="/assets/bs5/js/blazestrap.bundle.js"></script>
    <script src="/assets/bs5/js/custom.js"></script>
  </head>
</html>