<!doctype html>
<html lang="en" data-bs-theme="auto">
  <!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <title>🔥BlazeK1ngdom🔥</title>
    <meta name="author" content="Trevor || BlazeK1ng420">
    <meta name="description" content="Cha-Cha Real-Smooth~">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/blazestrap.css" id="theme">
    <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/get-lit.css">
    <script src="assets/js/blazestrap.bundle.js"></script>
    <script src="assets/api/blazed_api.js"></script>
  </head>
  <body>
  <!-- NAVBAR-->
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <div class="container-fluid"><a class="navbar-brand" href="#">🔥BlazeK1ngdom🔥</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index.html">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="/highspace.html">Blaze</a></li>
            <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Disabled</a></li>
            <div class="dropdown"><button class="nav-link dropdown-toggle bi-palette-fill" type="button" id="themeDropdown" data-bs-toggle="dropdown" aria-expanded="false"> Select Theme </button>
              <ul class="dropdown-menu scrollable-menu" aria-labelledby="themeDropdown"><!-- Options will be dynamically added here -->
                <style> </style>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <!-- DESCRIPTION-->
    <main class="container">
      <div class="alert alert-primary p-3 rounded text-center">
        <h1>~Get-Lit &amp; Theme-It~</h1>
        <h2><i class="bi bi-fire"></i> Ap-High <i class="bi bi-fire"></i></h2>
         <p class="text-center text-info">A simple, lightweight, and responsive, API-style implementation for easily managing css themes dynamically, with minimal effort and input.</p>
      </div>
    </main>
    <!-- CONTAINER 1 -->
    <div class="container mt-1">
      <div class="alert alert-success">
        <h5 class="text-body-emphasis text-center"><u>Built for Bootstrap v5.3.2</u></h5>
        <p class="text-center bg-black text-primary">That means full compatability with ALL of Bootstraps newest color based features, such as:</p>
        <ul>
          <ul>
            <ul>
              <li class="text-info">"data-bs-theme()"</li>
              <li class="text-warning">"color-mode()"</li>
              <li class="text-danger">"prefers-color-scheme()"</li>
            </ul>
          </ul>
        </ul>
        <p class="text-center">All of which are proudly on display somewhere on this page.<br><br><b>Okay, what's so special then you might ask?</b></p>
        <p class="text-center">Well great Question!</p>
        <p class="text-center">The thing is, while all these features have been officially added to the most recent Bootstrap 5 releases, theres still no official JavaScript or CSS methods included for actually USING the colorful code within it.</p>
        <p class="text-center">Okay, thats a lie, sorta..<br>There is this <a href="https://getbootstrap.com/docs/5.3/customize/color-modes/#javascript">snippit</a> in the Bootstraps docs for toggling between a light & dark mode. But thats it.. You get light or dark ONLY, with any additional "modes" requiring sass compilation, javascript editing, multiple changes to your html, ect.<br>Not to mention that on top of that, the way its offered currently, it doesnt natively offer the ability to Toggle any new "modes" between the original light and dark, so any custom color modes cannot be further tailored to the end-users preference of a light or dark version if they wanted to utilize a red or green accent mode you offer on your page.<p>
        <p class="text-center">This can be potentially off-putting to:
        <ul>
          <ul>
            <li class="text-primary">New users</li>
            <li class="text-success">Those coming from older versions</li>
            <li class="text-warning">Anyone using only plug-n-play snippits</li>
            <li class="text-danger">Lazy or the easily deterred lol</li>
          </ul>
        </ul>
        <p class="text-center">My goal with this template, is to enable <u>ANYONE</u>, regardless of their experience, the ability to utilize the many different color based aspects offered within Bootstrap all with a simpler streamlined process that I hope you enjoy using as much as I did learning how to make it all work and play nicely together haha.</p>
     </div>
     </div>
     <!-- CONTAINTER 2 -->
     <div class="container mt-1">
      <div class="alert alert-danger">
        <h1 class="text-center text-primary">FEATURES</h1>
        <h5 class="text-body-emphasis text-center"><u>Dynamically Loaded Theme Menu</u></h5>
        <h6 class="text-center">Effortlessly load &amp; inject your contents from theme_api.json into a new, dynamically populated dropdown to create a dedicated theme menu.</h6>
        <h5 class="text-body-emphasis text-center"><u>Hot-swapping active css files</u></h5>
        <h6 class="text-center text-primary">~Get-Lit &amp; Theme-It with onClick css swapping~</h6>
        <p class="text-center text-info">Css files are loaded in quickly and easily from a local path or url via JSON.</p>
        <ul>
          <li>Built in multi dropdown fixed-top navbar!</li>
          <li>Navbar auto-highlights the current page!</li>
          <li>Native per-theme dark/light mode support!</li>
          <li>Built in sticky dark/light mode toggle button!</li>
          <li>Built in custom text animation effects!</li>
          <li>All theme/mode settings saved to storage!</li>
          <li>No limit to the number of themes supported</li>
          <li>Change the theme menu to anything you want!</li>
          <li>Minimum complexity, maximum adaptability!</li>
          <li>Full Bootstrap-5.3.2 with built in Jquery-3.7.1!</li>
          <li>All required dependencies included locally!</li>
        </ul>
        <p class="text-center text-info">Wanna spice up your project a bit?<br>Make it more of a colorful trip?<br> ~Just Sit-Back &amp; Relax, Get-Lit &amp; Theme-It~</p>
      </div>
      <div class="container">
        <!-- BLAZED FOOTER THINGY -->
        <div class="text-center mt-5">
          <div class="selector6" style="display: flex; justify-content: center; text-align: center;">
            <h1 class="ah-headline" style="text-center"><span>Blaze </span> <span class="ah-words-wrapper">
             <b class="is-visible">Blogs Shit</b><b>Wuz Here</b><b>Can't find his lighter</b><b>Just bricked you</b><b>Check your messages</b><b>Just bricked himself</b><b>Is just a skid lol</b></span></h1>
          </div><br>
          <h1>~Get-Lit &amp; Theme-It~</h1>
          <h3>🔥AP-High🔥</h3>
          <p class="lead">Made with <i class="bi-heart-fill"></i> while baked <br>on bongloads by <a href="github.com/BlazeK1ng420">Blaze</a> in California.</p>
          <p>Bootstrap v5.3.2</p>
        </div>
      </div>
      <!-- LIGHT/DARK MODE TOGGLE BUTTON -->
      <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn bi-fire btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
          <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
          <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false"> <i class="bi bi-sun-fill"></i> <span class="ms-2">Light</span>
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false"> <i class="bi bi-moon-stars-fill"></i> <span class="ms-2">Dark</span>
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true"> <i class="bi bi-circle-half"></i> <span class="ms-2">Auto</span>
              <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <!-- END BUTTON -->
    </div>
  </body>
</html>
