---
title: BlazeK1ngdom
layout: compress
---
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  {% include titan/head.html %}
  <!-- BODY -->
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
    <embed>
      <audio src="https://static.wixstatic.com/mp3/ad5646_044b268f06024dbfa92d8e00801020bb.mp3" id="lol_play" loop="loop" autoplay="autoplay"></audio>
      </embed>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
        {% include navbar.html %}
      <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home" data-background="/assets/images/gifs/spiral.gif">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Hello! <span class="rotate">Welcome to The BlazeK1ngdom! | Lets Get-Lit! | Lets Start-Shit | Lets Catch-A-Brick! | WAIT! Your who exactly? | Who sent you? | Where the hell am I? | ¿Como Estas? </div>
            <div class="font-alt mb-40 titan-title-size-4">Blaze <span class="rotate">Blogs Stuff  | Wuz Here | Cant Find His Lighter | Just Bricked You | Just Bricked Himself | Is A Skid | Answer Your Messages</span>
            </div>
            <div>
            <a class="section-scroll btn btn-border-w btn-circle" href="/highspace">About</a>
            </div>
            <div>
            <a class="section-scroll btn btn-border-w btn-circle" href="/blog">Blog</a>
            </div>

          </div>
        </div>
      </section>
      <div class="main">
        {% include titan/about.html %}
        <!-- {% include titan/blocks/list.html %} -->
        <hr class="divider-w">
        <!-- {% include titan/services.html %} -->
        <!-- {% include titan/video.html %} -->
        <!-- {% include titan/projects.html %} -->
        <!-- {% include titan/more.html %} -->
        <!-- {% include titan/features.html %} -->
        <hr class="divider-w">
        <!-- {% include titan/team.html %} -->
        <!-- {% include titan/testimonials.html %} -->
        <!-- {% include titan/latest.html %} -->
        <!-- {% include titan/black.html %} -->
        <hr class="divider-d">
        {% include footer.html %}
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    
    <!--  
    JavaScripts
    =============================================-->
    <script src="assets/titan/lib/jquery/dist/jquery.js"></script>
    <script src="assets/titan/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/titan/lib/wow/dist/wow.js"></script>
    <script src="assets/titan/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="assets/titan/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="assets/titan/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="assets/titan/lib/flexslider/jquery.flexslider.js"></script>
    <script src="assets/titan/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="assets/titan/lib/smoothscroll.js"></script>
    <script src="assets/titan/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="assets/titan/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="assets/titan/js/plugins.js"></script>
    <script src="assets/titan/js/main.js"></script>
  </body>
</html>